main {
  display: inline-block;
  padding: 0 20px;
  background-color: var(--background-color-card);
  border-radius: 4px;
  margin: 10px 40px 10px 40px;
  text-align: left;
}

header {
  padding-top: 20px;
}

h1 {
  font-family: Futura;
  font-size: 24px;
  margin-bottom: 0;
}

h2 {
  margin-bottom: 0.5rem;
}

.index {
  color: var(--text-color-muted);
  margin-right: 0.5rem;
}

ul,
ol {
  padding: 0;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

ul {
  list-style-type: none;
}
ol {
  list-style-type: decimal;
  padding-left: 1.2rem;
}
ol.onboarding {
  margin-top: 1.5rem;
  padding-left: 2rem;
}

p#text {
  display: none;
  margin: 0.5rem 0;
  font-size: 12px;
}

.lists {
  display: flex;
  flex-direction: column;
}

.lists.evening > div:last-child,
.lists.weekend > div:last-child {
  order: -1;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.clock {
  /* font-variant-numeric: tabular-nums; */
  letter-spacing: 3px;
}

.separator {
  color: var(--text-color-muted);
  animation: blink 1.5s steps(2, start) infinite;
}

footer {
  margin-bottom: 1rem;
  font-size: 12px;
  color: var(--text-color-muted);
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
footer li {
  display: inline-block;
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out;
  background-color: transparent;
}

footer li + li {
  margin-left: 0.5rem;
}

footer li:hover {
  opacity: 1;
  background-color: transparent;
}
